  <div class="profilePage">
    <h1 class="profileHeader text-center">Feast with Friends</h1>
    <div class="container-fluid">
      <div class="row">
        <!-- User Profile Column Beginning -->
        <div
          id="profileColumn"
          class="d-flex flex-column justify-content-center align-middle col-md-5">
          <!-- Display User name -->
          <h2 class="text-center">Welcome</h2>
          <h1 id="profileName" class="display-4 text-center" data-id="{{user.id}}">{{user.name}}</h1>

          <!-- Display form to allow User to select dietary restrictions -->
          <form class="m-3">
          <p>Your dietary restrictions:</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="veganCheck"
              {{#if user.vegan}} checked {{/if}}
            />
            <label class="change-vegan" for="veganCheck">
              Vegan
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="vegetarianCheck"
              {{#if user.vegetarian}} checked {{/if}}
            />
            <label class="form-check-label" for="flexCheckChecked">
              Vegetarian
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="glutenCheck"
              {{#if user.glutenIntolerance}} checked {{/if}}
            />
            <label class="form-check-label" for="flexCheckChecked">
              Gluten Free
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="kosherCheck"
              {{#if user.kosher}} checked {{/if}}
            />
            <label class="form-check-label" for="flexCheckChecked">
              Kosher
            </label>
          </div>
          </form>

          <!-- Display form to allow User to type specific city -->
          <form class="m-3">
            <p class="mt-2">Your city:</p>
              <input type="city" class="form-control mb-3" id="userCity" placeholder={{user.city}} value={{user.city}}>
          </form>

          <!-- Button to update changes to dietary preferences -->
          <button type="button" class="btn btn-secondary justify-items-center mt-3" id="update-preferences">
            Update Preferences
          </button>

          <!-- Logout Button -->
          <button type="button" class="btn btn-secondary justify-items-center mt-3" id="logout" onclick="window.location.href='/logout'">
            Logout
          </button>

        </div>
        <!-- User Profile Column End -->

        <!-- Restaurant Cards Column Beginning-->
        <div
          id="restaurantColumn"
          class="col-md-7 d-inline-flex flex-column justify-content-center align-items-center pt-3">
          <div class="container gx-3">
            <div class="row">
              <div class="container-fluid d-flex flex-wrap justify-content between mb-0">
                <!-- Restaurant Cards Populate Here with #each -->
                {{#each restaurants}}
                <div class="card p-3 bg-light m-1">
                  <img
                    src={{this.image_url}}
                    id ="restaurantImg"
                    class="card-img-top img-fluid"
                    alt="food-pic"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.display_phone}}</p>
                    <a href="{{this.url}}" target="_blank" class="btn btn-primary">Website</a>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <!-- Restaurant Cards Column End -->

      </div>
    </div>
</div>

{{#section 'scripts'}}
    <script type="text/javascript" src="js/member.js"></script>
{{/section}}