  <div class="profilePage">
    <h1 class="profileHeader text-center">Feast with Friends</h1>
    <div class="container-fluid">
      <div class="row">
        <!-- User Profile Column -->
        <div
          id="profileColumn"
          class="d-flex flex-column justify-content-center align-middle col-md-5"
        >
          <!-- Display User name -->
          <h2 class="text-center">Welcome</h2>
          <h1 id="profileName" class="display-4 text-center" data-id="{{user.id}}">{{user.name}}</h1>

          <!-- Display form to allow User to select dietary restrictions -->
          <form class="m-3">
          <p>Your dietary restrictions:</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="veganCheck"
              {{#if user.vegan}} checked {{/if}}
            />
            <label class="change-vegan" for="veganCheck">
              Vegan
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="vegetarianCheck"
              {{#if user.vegetarian}} checked {{/if}}
            />
            <label class="form-check-label" for="flexCheckChecked">
              Vegetarian
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="glutenCheck"
              {{#if user.glutenIntolerance}} checked {{/if}}
            />
            <label class="form-check-label" for="flexCheckChecked">
              Gluten Free
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="kosherCheck"
              {{#if user.kosher}} checked {{/if}}
            />
            <label class="form-check-label" for="flexCheckChecked">
              Kosher
            </label>
          </div>
          </form>

          <!-- Display form to allow User to type specific city -->
          <form class="m-3">
            <p class="mt-2">Your city:</p>
              <input type="city" class="form-control mb-3" id="userCity" placeholder={{user.city}}>
          </form>

          <!-- Button to update changes to dietary preferences -->
          <button type="button" class="btn btn-secondary justify-items-center mt-3" id="update-preferences">
            Update Preferences
          </button>

          <!-- Logout Button -->
          <button type="button" class="btn btn-secondary justify-items-center mt-3" id="logout" onclick="window.location.href='/logout'">
            Logout
          </button>

          <!-- Button to call Yelp API and see search results in the Cards Column-->
          <button type="button" class="btn btn-primary justify-items-center mt-3 mb-5">
            See Suggestions
          </button>
        </div>

        <!-- Restaurant Cards Column -->
        <div
          id="restaurantColumn"
          class="col-md-7 d-inline-flex flex-column justify-content-center align-items-center pt-3"
        >
          <div class="container gx-3">
            <div class="row">
              <div class="col-lg-4">
                <!-- Restaurant Cards Populate Here with #each -->
                {{#each restaurants}}
                <div class="card p-3 bg-light m-1">
                  <img
                    src={{this.image_url}}
                    class="card-img-top img-fluid"
                    alt="food-pic"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.display_phone}}</p>
                    <a href="{{this.url}}" class="btn btn-primary">Website</a>
                  </div>
                </div>
                {{/each}}
              </div>

              {{!-- <div class="col-lg-4">
                <div class="card p-3 bg-light">
                  <img
                    src="https://s3-media1.fl.yelpcdn.com/bphoto/howYvOKNPXU9A5KUahEXLA/o.jpg"
                    class="card-img-top img-fluid"
                    alt="food-pic"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Restaurant</h5>
                    <p class="card-text">Address, Phone Number</p>
                    <a href="#" class="btn btn-primary">Website</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="card p-3 bg-light">
                  <img
                    src="http://s3-media4.fl.yelpcdn.com/bphoto/6He-NlZrAv2mDV-yg6jW3g/o.jpg"
                    class="card-img-top img-fluid"
                    alt="food-pic"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Restaurant</h5>
                    <p class="card-text">Address, Phone Number</p>
                    <a href="#" class="btn btn-primary">Website</a>
                  </div>
                </div>
              </div> --}}

              {{!-- <div class="col-lg-4">
                <div class="card p-3 bg-light">
                  <img
                    src="https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Zm9vZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top img-fluid"
                    alt="food-pic"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Restaurant</h5>
                    <p class="card-text">Address, Phone Number</p>
                    <a href="#" class="btn btn-primary">Website</a>
                  </div>
                </div>
              </div> --}}

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{{#section 'scripts'}}
    <script type="text/javascript" src="js/member.js"></script>
{{/section}}